.large-stats
  font-size: 6em
  opacity: .7
  z-index: 1
  position: relative

.stats-descriptor
  position: relative
  margin-top: -55px
  z-index: 2

.about-us-clackers
  display: none

#about-top-section
  margin-top: 28px

.about-us-circle
  position: absolute
  margin-top: 100px
  height: 200px

.quote-with-value
  position: absolute
  margin: 80px 0 0 30px
  height: 50px

.value-quote
  margin-top: 3em
  margin-left: 3em

.quote-with-blurbs
  position: absolute
  margin-top: 15px

.about-subsection
  padding: 2em 0 5em

$layout-breakpoint-tablet: 768px
@media (min-width: $layout-breakpoint-tablet)
  #about-top-section
    margin-top: 82px

  .about-us-clackers
    display: block
    position: absolute
    height: 360px
    right: 10px
    top: 135px

  .about-us-circle
    height: 300px

  .about-graphics
    margin-top: 5em

  .quote-with-value
    display: block
    position: absolute
    height: 60px
    margin-top: 40px
    padding-left: 30px

  .large-stats
    font-size: 7em

  .stats-descriptor
    margin-top: -70px

  .about-subsection
    padding: 10em 0 3em

  .value-quote
    display: block
    position: absolute
    margin-left: 5em
    margin-top: .5em
    padding-right: 6em

$layout-breakpoint-desktop: 1024px
@media (min-width: $layout-breakpoint-desktop)
  .about-us-clackers
    display: block
    position: absolute
    height: 550px
    right: 150px
    top: 135px

  .value-quote
    margin-left: 80px
    margin-top: 10px
    padding-right: 8em