$input-placeholder-color: #77C7F2

.custom-large-section
  margin-top: 25px
  padding: 2rem 2rem 14rem

.custom-medium-section
  margin-top: 20px
  padding: 2rem 3rem 8rem

.top-circle-graphic
  display: block
  position: absolute
  margin-top: -100px
  height: 350px
  left: 0

$layout-breakpoint-tablet: 768px
@media (min-width: $layout-breakpoint-tablet)
  .custom-large-section
    padding: 4rem 6rem 22rem
    margin-top: 80px

  .custom-medium-section
    padding: 4rem 6rem 13rem

  .top-circle-graphic
    height: 550px
    margin-top: -170px
    left: -100px

$layout-breakpoint-desktop: 1024px
@media (min-width: $layout-breakpoint-desktop)
  .custom-medium-section
    padding: 6rem 8rem 13rem

  .custom-large-section
    padding: 6rem 8rem 24rem
    margin-top: 80px