.custom-large-section
  margin-top: 25px
  padding: 2rem 2rem 14rem

.custom-medium-section
  margin-top: 20px
  padding: 2rem 3rem 8rem

.top-circle-graphic
  margin-top: -100px
  height: 350px
  display: block
  position: absolute
  left: 0

$input-placeholder-color: #77C7F2

$layout-breakpoint-tablet: 768px
@media (min-width: $layout-breakpoint-tablet)
  .custom-large-section
    padding: 6rem 8rem 24rem
    margin-top: 80px

  .custom-medium-section
    padding: 4rem 8rem 13rem

  .top-circle-graphic
    height: 550px
    margin-top: -170px
    left: -100px