.hr-tag
  height: 1px

.project-image
  padding: 30px

.project-summary
  padding: 10px 30px

$layout-breakpoint-tablet: 768px
@media (min-width: $layout-breakpoint-tablet)
  .project-image
    padding: 0

  .project-summary
    padding: 0 0 0 30px