#contact-form
  padding: 0

.custom-form-section
  padding: 2rem 3rem

.custom-textarea
  height: 180px

$layout-breakpoint-tablet: 768px
@media (min-width: $layout-breakpoint-tablet)
  .custom-form-section
    padding: 4rem 6rem

  .custom-textarea
    height: 145px

  .form-submit-button
    margin-left: 10px

$layout-breakpoint-desktop: 1024px
@media (min-width: $layout-breakpoint-desktop)
  .custom-form-section
    padding: 6em 8em

  .custom-talent-radio
    display: flex
    flex-direction: row
    align-items: center

  .custom-textarea
    height: 170px